{
  "tal": "/usr/local/etc/fort/tal/",
  "local-repository": "/usr/local/etc/fort/repository/",
  "work-offline": false,
  "shuffle-uris": true,
  "maximum-certificate-depth": 32,
  "mode": "server",
  "daemon": false,
  "slurm": "/usr/local/etc/fort/test.slurm",

  "server": {
    "address": [
      "192.0.2.1",
      "2001:db8::1"
    ],
    "port": "8323",
    "backlog": 16,
    "interval": {
      "validation": 3600,
      "refresh": 3600,
      "retry": 600,
      "expire": 7200
    },
    "deltas": {
      "lifetime": 4
    }
  },

  "log": {
    "enabled": true,
    "level": "warning",
    "output": "console",
    "color-output": true,
    "file-name-format": "file-name",
    "facility": "daemon",
    "tag": "Operation"
  },

  "validation-log": {
    "enabled": false,
    "level": "warning",
    "output": "console",
    "color-output": true,
    "file-name-format": "global-url",
    "facility": "daemon",
    "tag": "Validation"
  },

  "http": {
    "enabled": true,
    "priority": 60,
    "retry": {
      "count": 2,
      "interval": 5
    },
    "user-agent": "fort/1.5.1",
    "connect-timeout": 30,
    "transfer-timeout": 0,
    "idle-timeout": 15,
    "ca-path": "/usr/local/ssl/certs"
  },

  "rsync": {
    "enabled": true,
    "priority": 50,
    "strategy": "root-except-ta",
    "retry": {
      "count": 2,
      "interval": 5
    },
    "program": "rsync",
    "arguments-recursive": [
      "--recursive",
      "--delete",
      "--times",
      "--contimeout=20",
      "--timeout=15",
      "$REMOTE",
      "$LOCAL"
    ],
    "arguments-flat": [
      "--times",
      "--contimeout=20",
      "--timeout=15",
      "--dirs",
      "$REMOTE",
      "$LOCAL"
    ]
  },

  "incidences": [
    {
      "name": "incid-hashalg-has-params",
      "action": "ignore"
    },
    {
      "name": "incid-obj-not-der-encoded",
      "action": "ignore"
    },
    {
      "name": "incid-file-at-mft-not-found",
      "action": "error"
    },
    {
      "name": "incid-file-at-mft-hash-not-match",
      "action": "error"
    },
    {
      "name": "incid-mft-stale",
      "action": "error"
    },
    {
      "name": "incid-crl-stale",
      "action": "error"
    }
  ],

  "output": {
    "roa": "/usr/local/etc/fort/roas.csv",
    "bgpsec": "/usr/local/etc/fort/bgpsec.csv",
    "format": "csv"
  },

  "thread-pool": {
    "server": {
      "max": 20
    },
    "validation": {
      "max": 5
    }
  },

  "asn1-decode-max-stack": 4096,
  "stale-repository-period": 43200
}